{% load static %}
{% include 'partials/_header.html' %}
<body>
    <div class="container">
      {% include 'partials/_navbar.html' %}
      <br>
      <p><small>Olá, {{pote_do_banco.0.user}}!</small></p>
      <p><h4>Extrato</small></h4>
      {% for i in data %}
        <div class="card mb-3" style="width: 100%;">
          <div class="card-header">
            {{ i.created_at|date:'d, F'}}
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><small>{{ i.transaction_type}} {{ i.description}} R${{ i.amount|floatformat:2}}</small></li>
          </ul>
        </div>
      {% endfor %}

    <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
</body>
</html>