{% load static %}
{% include 'partials/_header.html' %}
<body>
    <div class="container">
        {% include 'partials/_navbar.html' %}
        <div align="center" class="mb-2">
            <img src="{% static 'icons/deposito.png'%}" width="10%">
        </div>
        
        <div class="row justify-content-center">
            <div class="card text-darkshadow bg-light mb-2 col12 col-md-6 col-lg-4 shadow p-3 mb-5 rounded">
                <h2 align="center">Depósito</h2>
                <form action="{% url 'deposit' account_id=account_id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                <fieldset>
                    <div class="form-group input-group-sm mb-3">
                        <label for="valor"><small>Valor</small></label>
                        <input type="number" id="valor" name="valor" class="form-control col-lg-8" step="any" placeholder="Valor a ser depositado">
                    </div>
                    <div class="form-group input-group-sm mb-3">
                        <label for="descricao"><small>Descrição</small></label>
                        <input type="text" id="descricao" name="descricao" class="form-control" placeholder="Descreva o depósito (opcional)">
                    </div>
                    <button type="submit" class="btn btn-outline-secondary btn-sm">Depositar</button>
                </fieldset>
                </form>
            </div>
        </div>

    </div>
</body>