{% load static %}
{% include 'partials/_header.html' %}
<body>
    {% include 'partials/_navbar.html' %}
    <div class="container">
        <div align="right" class="mb-2">
            <a href="{% url 'delete_account' account_id=account_id %}">Deletar Conta</a>
        </div>

        <div align="center" class="mb-2">
            <img src="{% static 'icons/banco.png'%}" width="10%">
        </div>
        
        <div class="row justify-content-center">
            <div class="col12  col-md-6 col-lg-4 shadow p-3 mb-5 bg-body rounded">
                <h2 align="center">Editar conta</h2>
                <form action="{% url 'edit_account' account_id=account_id account_name=account_name account_name_real_life=account_name_real_life description=description percent=percent %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset>
                        <div class="form-group input-group-sm mb-3">
                            <label for="nome"><small>Nome</small></label>
                            <input type="text" id="nome" name="nome" class="form-control col-lg-8" value="{{ account_name }}">
                        </div>
                        <div class="form-group input-group-sm mb-3">
                            <label for="conta_fisica"><small>Conta Física</small></label>
                            <input type="text" id="conta_fisica" name="conta_fisica" class="form-control" value="{{ account_name_real_life }}">
                        </div>
                        <div class="form-group input-group-sm mb-3">
                            <label for="descricao"><small>Descrição</small></label>
                            {% comment %} <input type="text" id="descricao" name="descricao" class="form-control" value="{{ description }}"> {% endcomment %}
                            <textarea class="form-control" id="descricao" name="descricao" rows="3"> {{ description }} </textarea>
                        </div>
                        <div class="form-group input-group-sm mb-3">
                            <label for="percentual"><small>Percentual</small></label>
                            <input type="number" id="percentual" name="percentual" class="form-control" min="1" max="55" value="{{ percent }}">
                        </div>
                        <button type="submit" class="btn btn-outline-secondary btn-sm">Salvar</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
</body>
</html>