{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <!-- <link rel="stylesheet" href="{% static 'icons/cerveja.png' %}">  -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"  ></script> -->
    
    <title>SGD Home</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                     
              <a class="navbar-brand" href="#"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                  
                  <ul class="navbar-nav mb-1">
                      <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'new_account' %}">Criar conta</a>
                        </li>
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'creates_standard_accouts' %}">Criar contas em massa</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">Gráficos</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">Logout</a>
                      </li>
                  </ul>
                </div>
            </div>
          </nav>
          <br>
          <p><small>Olá, {{ request.user.username }}.</small></p><br>
          <h5>{{ message }}</h5>

        <h5 class="card-title">Contas</h5>

        <div class="row">
            {% for pote in pote_do_banco%}
            <div class="col-sm-6 responsive-font-example">
              <div class="card text-dark card-effect shadow bg-light mb-2">
                <div class="card-body">
                  <h5 class="card-title">{{pote.account_name}}</h5>
                  <p class="card-text">{{pote.description}}</p>
                  <p class="card-text">{{pote.account_name_real_life}}</p>
                  <p class="card-text produto-preco">Saldo {{pote.balance}}</p>
                  <a href="{% url 'account_statement' %}" class="btn btn-outline-secondary btn-sm">Extrato</a>
                  <a href="{% url 'withdraw' %}" class="btn btn-outline-secondary btn-sm">Sacar</a>
                  <a href="{% url 'deposit' %}" class="btn btn-outline-secondary btn-sm">Depositar</a>
                  <a href="{% url 'transfer' %}" class="btn btn-outline-secondary btn-sm">Tranferir</a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        
        <!-- <div class="row justify-content-center">
            {% for pote in pote_do_banco%}
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card-effect shadow p-1 m-2 mb-5 bg-body rounded">
                        <div class="card-body text-center">
                            <img class="mb-4" src="{% static 'icons/cerveja.png'%}" width="50%">
                            <h4 class="card-text produto mb-3">{{pote.account_name}}</h4>
                            <h4 class="card-text produto mb-3">{{pote.percent}}%</h4>
                            <h5 class="card-title">Saldo</h5>
                            <h4 class="card-text produto-preco">R${{pote.balance}}</h4>
                            <a href="#" class="btn btn-primary m-1">Sacar</a>
                            <a href="#" class="btn btn-primary m-1">Depositar</a>
                            <a href="#" class="btn btn-primary m-1">Tranferir</a>
                            <a href="#" class="btn btn-primary m-1">Extrato</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div> -->
        <!-- </div> -->
        <!-- <div class="row position-relative">
            {% for pote, valor in potes.items%}
            <div class="card col-2 card-effect shadow p-1 m-2 mb-5 bg-body rounded" style="width: 15rem;">
                <div class="card-body text-center">
                    <img class="mb-4" src="{% static 'icons/'%}{{valor.imagem}}" width="50%">
                    <h4 class="card-text produto mb-3">{{pote}}</h4>
                    <h5 class="card-title">Saldo</h5>
                    <h4 class="card-text produto-preco">R${{valor.saldo}}</h4>
                    <a href="#" class="btn btn-primary m-1">Sacar</a>
                    <a href="#" class="btn btn-primary m-1">Depositar</a>
                    <a href="#" class="btn btn-primary m-1">Tranferir</a>
                    <a href="#" class="btn btn-primary m-1">Extrato</a>
                </div>
            </div>
            {% endfor %}
        </div> -->

    <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
</body>
</html>