{% load static %}
{% include 'partials/_header.html' %}
<body>
    {% include 'partials/_navbar.html' %}
    <div class="container">
        <h5 class="card-title">Contas</h5>
        <div class="row">
            {% for pote in pote_do_banco%}
                <div class="col-sm-6 responsive-font-example">
                    <div class="card text-dark border-secondary card-effect shadow bg-light mb-2">
                        <div class="card-body">
                            <h5 class="card-title">{{pote.account_name}}</h5>
                            <p class="card-text">{{pote.description}}</p>
                            <p class="card-text">{{pote.account_name_real_life}}</p>
                            <p class="card-text produto-preco">Saldo R${{pote.balance}}</p>
                            <a href="{% url 'account_statement' account_id=pote.id %}" class="btn btn-outline-secondary btn-sm">Extrato</a>
                            <a href="{% url 'withdraw' account_id=pote.id %}" class="btn btn-outline-secondary btn-sm">Sacar</a>
                            <a href="{% url 'deposit' account_id=pote.id %}" class="btn btn-outline-secondary btn-sm">Depositar</a>
                            <a href="{% url 'transfer' %}" class="btn btn-outline-secondary btn-sm">Tranferir</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
</body>
</html>