{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <title>SGD Nova Conta</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    
                    <ul class="navbar-nav mb-1">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'creates_standard_accouts' %}">Criar contas em massa</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Higiene Pessoal</a>
                        </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">Mamãe e bebê</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">Beleza</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Cabelo</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <br>
        <a class="btn btn-secondary btn-sm" href="{% url 'index' %}">Home</a>
        
        <div align="center" class="mb-2">
            <img src="{% static 'icons/banco.png'%}" width="10%">
        </div>
        
        <div class="row justify-content-center">
            <div class="col12  col-md-6 col-lg-4 shadow p-3 mb-5 bg-body rounded">
                <h2 align="center">Nova conta</h2>
                <form action="{% url 'new_account' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                <fieldset>
                    <div class="form-group input-group-sm mb-3">
                        <label for="nome"><small>Nome</small></label>
                        <input type="text" id="nome" name="nome" class="form-control col-lg-8" placeholder="Dê um nome para a conta">
                    </div>
                    <div class="form-group input-group-sm mb-3">
                        <label for="conta_fisica"><small>Conta Física</small></label>
                        <input type="text" id="conta_fisica" name="conta_fisica" class="form-control" placeholder="Nome da conta na vida real. C.P. Itaú, por exemplo">
                    </div>
                    <div class="form-group input-group-sm mb-3">
                        <label for="descricao"><small>Descrição</small></label>
                        <input type="text" id="descricao" name="descricao" class="form-control" placeholder="Insira mais detalhes sobre a conta">
                    </div>
                    <div class="form-group input-group-sm mb-3">
                        <label for="percentual"><small>Percentual</small></label>
                        <input type="number" id="percentual" name="percentual" class="form-control" min="1" max="55" placeholder="De todo dinheiro que entrar aqui, qual seria o percentual para vir pra essa conta?">
                    </div>
                    <button type="submit" class="btn btn-outline-secondary btn-sm">Criar conta</button>
                </fieldset>
                </form>
            </div>
        </div>
    </div>
</body>