{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <title>SGD Transferência</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    
                    <ul class="navbar-nav mb-1">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'creates_standard_accouts' %}">Criar contas em massa</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Higiene Pessoal</a>
                        </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">Mamãe e bebê</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">Beleza</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Cabelo</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <br>
        <a class="btn btn-secondary btn-sm" href="{% url 'index' %}">Home</a>
        
        <div align="center" class="mb-2">
            <img src="{% static 'icons/transferencia.png'%}" width="10%">
        </div>
        
        <div class="row justify-content-center">
            <div class="card text-darkshadow bg-light mb-2 col12 col-md-6 col-lg-4 shadow p-3 mb-5 rounded">
                <h2 align="center">Transferência</h2>
                <form action="{% url 'deposit' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                <fieldset>
                    <div class="form-group input-group-sm mb-3">
                        <label for="valor"><small>Valor</small></label>
                        <input type="number" id="valor" name="valor" class="form-control col-lg-8" step="any" placeholder="Valor a ser depositado">
                    </div>
                    <div class="form-group mb-3">
                        <label for="descricao"><small>Para conta</small></label>
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                            <option selected>Selecione uma conta</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                    </div>
                    <div class="form-group input-group-sm mb-3">
                        <label for="descricao"><small>Descrição</small></label>
                        <input type="text" id="descricao" name="descricao" class="form-control" placeholder="Insira detalhes para a transação (opcional)">
                    </div>
                    <button type="submit" class="btn btn-outline-secondary btn-sm">Transferir</button>
                </fieldset>
                </form>
            </div>
        </div>

    </div>
</body>